#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 70px;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 25px;

    img {
        cursor: pointer;
        align-self: flex-start;
        margin-top: 20px;
    }

    h2 {
        font-size: 4rem;
        font-weight: 400;
        text-align: left;
        margin: 0;
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: #312E2E;
        font-size: 36px;
    }

    .formWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    .formField{
        width: 100%;
        margin-bottom: 10px;
    }
    .error{
        input, 
        textarea{
            border: 4px solid $color-primary;
        }
        &::after{
            display: inline-block;
            color: $color-primary;
            font-size: 1rem;
            content: attr(error-message);
            height: 15px;
            min-width: 100px;
        }
    }

    input,
    textarea {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
        font-size: 2rem;
    }

    textarea{
        height: 170px;
    }
}
