* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

img.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sr-only {
  display: none;
}

#contact_modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: flex-start;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: rgba(196, 196, 196, 0.4);
}
@media (max-width: 680px) {
  #contact_modal {
    padding: 5%;
  }
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  position: relative;
  width: 800px;
  height: auto;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
@media (max-width: 680px) {
  .modal {
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
  }
}

.modal header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.modal header img {
  width: 20px;
  cursor: pointer;
  align-self: flex-start;
}
@media (max-width: 680px) {
  .modal header img {
    padding-top: 10px;
  }
}
.modal header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
}
@media (max-width: 680px) {
  .modal header h2 {
    font-size: 2rem;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 1.5rem;
}
@media (max-width: 680px) {
  form label {
    font-size: 1rem;
  }
}
form .formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form .formField {
  width: 100%;
  margin-bottom: 10px;
}
form .error input,
form .error textarea {
  border: 4px solid #901c1c;
}
form .error::after {
  display: inline-block;
  color: #901c1c;
  font-size: 1rem;
  content: attr(error-message);
  height: 15px;
  min-width: 100px;
}
form input,
form textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 5px;
}
@media (max-width: 680px) {
  form input,
  form textarea {
    font-size: 1rem;
    height: 2rem;
  }
}
form textarea {
  height: 170px;
}
@media (max-width: 680px) {
  form textarea {
    font-size: 1rem;
    height: 80px;
  }
}

#lightbox_modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-color: white;
}
@media (max-width: 680px) {
  #lightbox_modal {
    padding: 10px;
  }
}

.carousel {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 20px 30px;
  background-color: white;
  color: #901c1c;
}
@media (max-width: 680px) {
  .carousel {
    padding: 0;
  }
}
.carousel_previous {
  margin-right: 35px;
  font-size: 3rem;
  min-width: 24px;
  text-align: right;
}
@media (max-width: 680px) {
  .carousel_previous {
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    margin: 0;
  }
}
.carousel_data {
  display: flex;
  flex-direction: column;
}
@media (max-width: 680px) {
  .carousel_data {
    width: 100%;
  }
}
.carousel_data p {
  margin: 10px 0 0 0;
  font-size: 1.5rem;
  line-height: 1.3;
}
.carousel_data img,
.carousel_data video {
  max-height: 80vh;
  max-width: 1165px;
}
.carousel_next {
  margin-left: 35px;
  font-size: 3rem;
  min-width: 24px;
}
@media (max-width: 680px) {
  .carousel_next {
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
    margin: 0;
  }
}
.carousel .close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}
@media (max-width: 680px) {
  .carousel .close {
    top: 10px;
    right: 10px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px 0 100px;
}
@media (max-width: 680px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
}
header h1 {
  color: #901c1c;
  font-size: 2rem;
}
@media (max-width: 680px) {
  header h1 {
    font-size: 1rem;
  }
}
@media (max-width: 680px) {
  header a {
    width: 30%;
  }
}

.logo {
  height: 50px;
}

.likes_price_banner {
  height: 70px;
  min-width: 300px;
  padding: 20px 30px;
  background-color: #db8876;
  position: fixed;
  font-size: 1.5rem;
  right: 36px;
  bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 680px) {
  .likes_price_banner {
    width: 100%;
    border-radius: 0%;
    right: 0;
  }
}
.likes_price_banner p {
  margin: 0;
  font-weight: 500;
}

.photographer_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 85px 0;
  width: 100%;
}
@media (max-width: 680px) {
  .photographer_section {
    width: 90%;
    margin: 25px 5%;
  }
}
.photographer_section .photographer_card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  flex-direction: column;
}
@media (max-width: 680px) {
  .photographer_section .photographer_card {
    width: 90%;
  }
}
@media (min-width: 600px) {
  .photographer_section .photographer_card {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .photographer_section .photographer_card {
    width: 33.33%;
  }
}
.photographer_section .photographer_card p {
  margin: 0;
  line-height: 1.75;
}
.photographer_section .photographer_card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer_section .photographer_card h2 {
  color: #d3573c;
  font-size: 2.25rem;
  font-weight: 100;
  margin-bottom: 0;
}
.photographer_section .photographer_card_location {
  color: #901c1c;
  font-size: 0.813rem;
}
.photographer_section .photographer_card_tagline {
  font-size: 0.625rem;
}
.photographer_section .photographer_card_daily-rate {
  color: #757575;
  font-size: 0.563rem;
}

.photographer-header {
  background-color: #fafafa;
  height: 300px;
  margin: 30px 0px;
  padding: 70px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .photographer-header {
    margin: 30px 100px;
  }
}
@media (max-width: 680px) {
  .photographer-header {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 30px 5%;
    gap: 25px;
  }
}
.photographer-header img {
  border-radius: 50%;
}
.photographer-header h1 {
  color: #d3573c;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}
@media (max-width: 680px) {
  .photographer-header h1 {
    font-size: 2rem;
  }
}
.photographer-header_location {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 19px 0;
  color: #901c1c;
}
@media (max-width: 680px) {
  .photographer-header_location {
    font-size: 1rem;
  }
}
.photographer-header_tagline {
  font-size: 1.125rem;
  line-height: 1.3;
  margin: 0;
  color: #525252;
}

@media (max-width: 680px) {
  .photographer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 680px) {
  .contact_button {
    width: 100%;
    border-radius: 0%;
  }
}

.sort_list {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  height: 68px;
  margin: 20px 100px;
  overflow: visible;
}
@media (max-width: 680px) {
  .sort_list {
    margin: 20px 5%;
  }
}
.sort_list label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}
.sort_list select {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: 25px;
  background-color: #901c1c;
  width: 170px;
  padding: 10px;
  color: white;
}
.sort_list select option {
  border-bottom: 1px solid white;
  height: 55px;
  padding: 12px 10px;
}
.sort_list select option:last-child {
  border: 0;
}
.sort_list .select-menu {
  margin-left: 25px;
  background-color: #901c1c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}
.sort_list .select-menu button {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: #901c1c;
  height: 55px;
  width: 150px;
  padding: 12px 10px;
  text-align: left;
}
.sort_list .select-menu button:last-child {
  border: 0;
}
.sort_list .select-menu i {
  position: absolute;
  top: 28px;
  right: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.photo-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 100px;
}
@media (max-width: 680px) {
  .photo-overview {
    width: 90%;
    margin: 0 5% 65px 5%;
  }
}
@media (min-width: 900px) {
  .photo-overview {
    justify-content: space-between;
  }
}

.photo_card {
  font-size: 1.375rem;
  color: #901c1c;
  max-width: 100%;
}
.photo_card:last-child {
  align-self: flex-start;
}
.photo_card a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: 300px;
}
@media (max-width: 680px) {
  .photo_card a {
    max-width: 100%;
  }
}
.photo_card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.photo_card img.top {
  -o-object-position: top;
     object-position: top;
}
.photo_card_title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px 0;
  max-width: 350px;
}
@media (max-width: 680px) {
  .photo_card_title_section {
    max-width: 100%;
  }
}
.photo_card_title_section_title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 288px;
  max-width: 80%;
  white-space: nowrap;
}
.photo_card_likes {
  font-weight: 500;
  font-style: normal;
}
.photo_card_likes::after {
  content: "\f004";
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */