*{
    box-sizing: border-box
}
:root{
    font-size: 16px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

img.portrait {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sr-only{
    display: none;
}