#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow: auto;
    background-color: white;
}

.carousel {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 30px;
    margin: auto;
    background-color: white;
    color: $color-primary;
    &_previous{
        margin-right: 35px;
        font-size: 3rem;
        min-width: 24px;
        text-align: right;
    }
    &_data{
        display: flex;
        flex-direction: column;
        p{
            margin: 10px 0 0 0;
            font-size: 1.5rem;
            line-height: 1.3;
        }
        img, 
        video{
            max-height: 80vh;
            max-width: 1165px;
        }
    }
    &_next{
        margin-left: 35px;
        font-size: 3rem;
        min-width: 24px;
    }


    .close {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
    }
}